<%= form_for @user do |f| %>
<div>
  <% if @user.errors.any? %>
  <%= pluralize(@user.errors.count, "error") %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
</div>
  <p>
    <%= f.label :email %></br>
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label :password %></br>
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %></br>
    <%= f.password_field :password_confirmation %>
  </p>
  
  <p>
    <%= f.submit "Signup" %>
  </p>
<% end %>